



.feature-service {
  text-align: center;
  padding: 2rem;
  background: #0a0909;
}

.feature-service h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ee8352;
}

.feature-swiper {
  padding: 1rem;
}

.nav-btn {
  background: #fff;
  border: none;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: transform 0.2s;
}

.nav-btn:hover {
  transform: translateY(-5px);
}

.btn-icon {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

span {
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
  color: #f38b46;
  font-size: 1.2rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* ✅ Navigation arrow color */
}
.swiper{
  overflow: visible !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, -40px) !important;
}

.swiper-pagination-bullet {
    background:  #b4a4a4 !important;
}